@import "~_ats/css/normalize.css";

/*:root -> 获取根元素html，tintColor背景颜色*/
:root {
  --color-text: #666;
  --color-high-text: #ff5777;
  --color-tint: #ff8198;
  --color-background: #fff;
  --font-size: 14px;
  --line-height: 1.5;
  --line-color: #f2f2f2;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#app {
    width: 100%;
    height: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* 禁止用户鼠标在页面上选中文字/图片等 */
  -webkit-tap-highlight-color: transparent;
  /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  background: var(--color-background);
  color: var(--color-text);
  font-size: 16px;
}

a {
  color: var(--color-text);
  text-decoration: none;
}


.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom: 1;
}

ul,
ol {
  list-style: none;
}
#app {
    min-width: 1200px;
}
.el-breadcrumb {
    margin-bottom: 20px;
}
.el-table,
.el-pagination {
    margin-top: 20px;
}
.el-autocomplete,
.el-cascader {
    width: 100%;
}
.el-card {
    box-shadow: 0 1px 1px rgba(0,0,0,.15) !important;
}

/* 隐藏级联选择器的单选按钮 */
.cate-cascader .el-cascader-menu {
    min-width: 160px;
    height: 200px;
}

.cate-cascader .el-radio {
    width: 0 !important;
    visibility: hidden;
}